/********** ABSTRACTS **********/
/* FONT-FACE */
/* COLUMNAS */
/* ORDERS */
/* OFFSETS */
/* COLUMNAS*/
/* COLORES */
/* end Colores */
/********** BASE **********/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Open Sans", sans-serif;
  color: #707070;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

img {
  width: 100%;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

input:focus {
  outline: none;
}

a {
  text-decoration: none;
}

#wrap {
  position: relative;
}

.hlp-hidden {
  display: none;
}

.hlp-visible {
  display: block;
}

.hlp-text-center {
  text-align: center;
}

.hlp-text-left {
  text-align: left;
}

.hlp-text-right {
  text-align: right;
}

.hlp-light {
  font-weight: 100;
}

.hlp-semi {
  font-weight: 400;
}

.hlp-bold {
  font-weight: bold;
}

.hlp-white {
  color: #FFF;
}

.hlp-black {
  color: #000;
}

.hlp-primary {
  color: #4D4D4D;
}

.hlp-secondary {
  color: #CBC9BE;
}

.hlp-third {
  color: #EFEDE1;
}

.hlp-bg-primary {
  background-color: #4D4D4D;
}

.hlp-bg-secondary {
  background-color: #CBC9BE;
}

.hlp-bg-third {
  background-color: #EFEDE1;
}

.hlp_uppercase {
  text-transform: uppercase;
}

.mb-30 {
  margin-bottom: 1.875em;
}

.hlp-border-left-before:before {
  border-left: 1px solid #CBC9BE;
  content: "";
  position: absolute;
  left: -5%;
  width: 1px;
  height: 100%;
  top: 0;
}

@media screen and (max-width: 650px) {
  .hlp-border-left-before:before {
    border-bottom: 1px solid #CBC9BE;
    content: "";
    position: absolute;
    left: 12%;
    width: 80%;
    height: 1px;
    top: -39px;
    margin: auto;
  }
}

@font-face {
  font-family: 'icomoon';
  src: url("http://www.estudioequis.com.ar/wspa/fonts/icomoon.eot?d141zw");
  src: url("http://www.estudioequis.com.ar/wspa/fonts/icomoon.eot?d141zw#iefix") format("embedded-opentype"), url("http://www.estudioequis.com.ar/wspa/fonts/icomoon.ttf?d141zw") format("truetype"), url("http://www.estudioequis.com.ar/wspa/fonts/icomoon.woff?d141zw") format("woff"), url("http://www.estudioequis.com.ar/wspa/fonts/icomoon.svg?d141zw#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check:before {
  content: "\e90e";
}

.icon-sauna:before {
  content: "\e90d";
}

.icon-plant:before {
  content: "\e906";
}

.icon-facial-mask:before {
  content: "\e907";
}

.icon-sun:before {
  content: "\e908";
}

.icon-coffee:before {
  content: "\e909";
}

.icon-shower:before {
  content: "\e90a";
}

.icon-pool:before {
  content: "\e90b";
}

.icon-pool-2:before {
  content: "\e90c";
}

.icon-arrow:before {
  content: "\e900";
}

.icon-w-solid:before {
  content: "\e901";
}

.icon-w-outline:before {
  content: "\e902";
}

.icon-facebook:before {
  content: "\e903";
}

.icon-instagram:before {
  content: "\e904";
}

.icon-logo:before {
  content: "\e905";
}

.icon-menu:before {
  content: "\e90f";
}

/********** LAYOUTS **********/
.row {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  margin: 3.125em 0;
}

.row.no-gap {
  margin: 0;
}

.row.mod-img-grid {
  margin-bottom: 0;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-mobile-1, .col-mobile-2, .col-mobile-3, .col-mobile-4, .col-mobile-5, .col-mobile-6, .col-mobile-7, .col-mobile-8, .col-mobile-9, .col-mobile-10, .col-mobile-11, .col-mobile-12, .col-mobile,
.col-mobile-auto, .col-tablet-1, .col-tablet-2, .col-tablet-3, .col-tablet-4, .col-tablet-5, .col-tablet-6, .col-tablet-7, .col-tablet-8, .col-tablet-9, .col-tablet-10, .col-tablet-11, .col-tablet-12, .col-tablet,
.col-tablet-auto, .col-desksm-1, .col-desksm-2, .col-desksm-3, .col-desksm-4, .col-desksm-5, .col-desksm-6, .col-desksm-7, .col-desksm-8, .col-desksm-9, .col-desksm-10, .col-desksm-11, .col-desksm-12, .col-desksm,
.col-desksm-auto, .col-deskxl-1, .col-deskxl-2, .col-deskxl-3, .col-deskxl-4, .col-deskxl-5, .col-deskxl-6, .col-deskxl-7, .col-deskxl-8, .col-deskxl-9, .col-deskxl-10, .col-deskxl-11, .col-deskxl-12, .col-deskxl,
.col-deskxl-auto {
  position: relative;
  width: 100%;
}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
          flex-grow: 1;
  max-width: 100%;
}

.col-auto {
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
          flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.col-1 {
  -ms-flex: 0 0 8.33333%;
  -webkit-box-flex: 0;
          flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.col-2 {
  -ms-flex: 0 0 16.66667%;
  -webkit-box-flex: 0;
          flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.col-3 {
  -ms-flex: 0 0 25%;
  -webkit-box-flex: 0;
          flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  -ms-flex: 0 0 33.33333%;
  -webkit-box-flex: 0;
          flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.col-5 {
  -ms-flex: 0 0 41.66667%;
  -webkit-box-flex: 0;
          flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.col-6 {
  -ms-flex: 0 0 50%;
  -webkit-box-flex: 0;
          flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  -ms-flex: 0 0 58.33333%;
  -webkit-box-flex: 0;
          flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.col-8 {
  -ms-flex: 0 0 66.66667%;
  -webkit-box-flex: 0;
          flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.col-9 {
  -ms-flex: 0 0 75%;
  -webkit-box-flex: 0;
          flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  -ms-flex: 0 0 83.33333%;
  -webkit-box-flex: 0;
          flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.col-11 {
  -ms-flex: 0 0 91.66667%;
  -webkit-box-flex: 0;
          flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.col-12 {
  -ms-flex: 0 0 100%;
  -webkit-box-flex: 0;
          flex: 0 0 100%;
  max-width: 100%;
}

.order-first {
  -ms-flex-order: -1;
  -webkit-box-ordinal-group: 0;
          order: -1;
}

.order-last {
  -ms-flex-order: 13;
  -webkit-box-ordinal-group: 14;
          order: 13;
}

.order-0 {
  -ms-flex-order: 0;
  -webkit-box-ordinal-group: 1;
          order: 0;
}

.order-1 {
  -ms-flex-order: 1;
  -webkit-box-ordinal-group: 2;
          order: 1;
}

.order-2 {
  -ms-flex-order: 2;
  -webkit-box-ordinal-group: 3;
          order: 2;
}

.order-3 {
  -ms-flex-order: 3;
  -webkit-box-ordinal-group: 4;
          order: 3;
}

.order-4 {
  -ms-flex-order: 4;
  -webkit-box-ordinal-group: 5;
          order: 4;
}

.order-5 {
  -ms-flex-order: 5;
  -webkit-box-ordinal-group: 6;
          order: 5;
}

.order-6 {
  -ms-flex-order: 6;
  -webkit-box-ordinal-group: 7;
          order: 6;
}

.order-7 {
  -ms-flex-order: 7;
  -webkit-box-ordinal-group: 8;
          order: 7;
}

.order-8 {
  -ms-flex-order: 8;
  -webkit-box-ordinal-group: 9;
          order: 8;
}

.order-9 {
  -ms-flex-order: 9;
  -webkit-box-ordinal-group: 10;
          order: 9;
}

.order-10 {
  -ms-flex-order: 10;
  -webkit-box-ordinal-group: 11;
          order: 10;
}

.order-11 {
  -ms-flex-order: 11;
  -webkit-box-ordinal-group: 12;
          order: 11;
}

.order-12 {
  -ms-flex-order: 12;
  -webkit-box-ordinal-group: 13;
          order: 12;
}

.offset-0 {
  margin-left: 0%;
}

.offset-1 {
  margin-left: 8.33333%;
}

.offset-2 {
  margin-left: 16.66667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.33333%;
}

.offset-5 {
  margin-left: 41.66667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.33333%;
}

.offset-8 {
  margin-left: 66.66667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.33333%;
}

.offset-11 {
  margin-left: 91.66667%;
}

@media (min-width: 768px) {
  .col-tablet {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
            flex-grow: 1;
    max-width: 100%;
  }
  .col-tablet-auto {
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .col-tablet-1 {
    -ms-flex: 0 0 8.33333%;
    -webkit-box-flex: 0;
            flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-tablet-2 {
    -ms-flex: 0 0 16.66667%;
    -webkit-box-flex: 0;
            flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-tablet-3 {
    -ms-flex: 0 0 25%;
    -webkit-box-flex: 0;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-tablet-4 {
    -ms-flex: 0 0 33.33333%;
    -webkit-box-flex: 0;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-tablet-5 {
    -ms-flex: 0 0 41.66667%;
    -webkit-box-flex: 0;
            flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-tablet-6 {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-tablet-7 {
    -ms-flex: 0 0 58.33333%;
    -webkit-box-flex: 0;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-tablet-8 {
    -ms-flex: 0 0 66.66667%;
    -webkit-box-flex: 0;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-tablet-9 {
    -ms-flex: 0 0 75%;
    -webkit-box-flex: 0;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-tablet-10 {
    -ms-flex: 0 0 83.33333%;
    -webkit-box-flex: 0;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-tablet-11 {
    -ms-flex: 0 0 91.66667%;
    -webkit-box-flex: 0;
            flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-tablet-12 {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .order-tablet-first {
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
            order: -1;
  }
  .order-tablet-last {
    -ms-flex-order: 13;
    -webkit-box-ordinal-group: 14;
            order: 13;
  }
  .order-tablet-0 {
    -ms-flex-order: 0;
    -webkit-box-ordinal-group: 1;
            order: 0;
  }
  .order-tablet-1 {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
            order: 1;
  }
  .order-tablet-2 {
    -ms-flex-order: 2;
    -webkit-box-ordinal-group: 3;
            order: 2;
  }
  .order-tablet-3 {
    -ms-flex-order: 3;
    -webkit-box-ordinal-group: 4;
            order: 3;
  }
  .order-tablet-4 {
    -ms-flex-order: 4;
    -webkit-box-ordinal-group: 5;
            order: 4;
  }
  .order-tablet-5 {
    -ms-flex-order: 5;
    -webkit-box-ordinal-group: 6;
            order: 5;
  }
  .order-tablet-6 {
    -ms-flex-order: 6;
    -webkit-box-ordinal-group: 7;
            order: 6;
  }
  .order-tablet-7 {
    -ms-flex-order: 7;
    -webkit-box-ordinal-group: 8;
            order: 7;
  }
  .order-tablet-8 {
    -ms-flex-order: 8;
    -webkit-box-ordinal-group: 9;
            order: 8;
  }
  .order-tablet-9 {
    -ms-flex-order: 9;
    -webkit-box-ordinal-group: 10;
            order: 9;
  }
  .order-tablet-10 {
    -ms-flex-order: 10;
    -webkit-box-ordinal-group: 11;
            order: 10;
  }
  .order-tablet-11 {
    -ms-flex-order: 11;
    -webkit-box-ordinal-group: 12;
            order: 11;
  }
  .order-tablet-12 {
    -ms-flex-order: 12;
    -webkit-box-ordinal-group: 13;
            order: 12;
  }
  .offset-tablet-0 {
    margin-left: 0%;
  }
  .offset-tablet-1 {
    margin-left: 8.33333%;
  }
  .offset-tablet-2 {
    margin-left: 16.66667%;
  }
  .offset-tablet-3 {
    margin-left: 25%;
  }
  .offset-tablet-4 {
    margin-left: 33.33333%;
  }
  .offset-tablet-5 {
    margin-left: 41.66667%;
  }
  .offset-tablet-6 {
    margin-left: 50%;
  }
  .offset-tablet-7 {
    margin-left: 58.33333%;
  }
  .offset-tablet-8 {
    margin-left: 66.66667%;
  }
  .offset-tablet-9 {
    margin-left: 75%;
  }
  .offset-tablet-10 {
    margin-left: 83.33333%;
  }
  .offset-tablet-11 {
    margin-left: 91.66667%;
  }
}

@media (min-width: 64em) {
  .col-desksm {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
            flex-grow: 1;
    max-width: 100%;
  }
  .col-desksm-auto {
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .col-desksm-1 {
    -ms-flex: 0 0 8.33333%;
    -webkit-box-flex: 0;
            flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-desksm-2 {
    -ms-flex: 0 0 16.66667%;
    -webkit-box-flex: 0;
            flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-desksm-3 {
    -ms-flex: 0 0 25%;
    -webkit-box-flex: 0;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-desksm-4 {
    -ms-flex: 0 0 33.33333%;
    -webkit-box-flex: 0;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-desksm-5 {
    -ms-flex: 0 0 41.66667%;
    -webkit-box-flex: 0;
            flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-desksm-6 {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-desksm-7 {
    -ms-flex: 0 0 58.33333%;
    -webkit-box-flex: 0;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-desksm-8 {
    -ms-flex: 0 0 66.66667%;
    -webkit-box-flex: 0;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-desksm-9 {
    -ms-flex: 0 0 75%;
    -webkit-box-flex: 0;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-desksm-10 {
    -ms-flex: 0 0 83.33333%;
    -webkit-box-flex: 0;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-desksm-11 {
    -ms-flex: 0 0 91.66667%;
    -webkit-box-flex: 0;
            flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-desksm-12 {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .order-desksm-first {
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
            order: -1;
  }
  .order-desksm-last {
    -ms-flex-order: 13;
    -webkit-box-ordinal-group: 14;
            order: 13;
  }
  .order-desksm-0 {
    -ms-flex-order: 0;
    -webkit-box-ordinal-group: 1;
            order: 0;
  }
  .order-desksm-1 {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
            order: 1;
  }
  .order-desksm-2 {
    -ms-flex-order: 2;
    -webkit-box-ordinal-group: 3;
            order: 2;
  }
  .order-desksm-3 {
    -ms-flex-order: 3;
    -webkit-box-ordinal-group: 4;
            order: 3;
  }
  .order-desksm-4 {
    -ms-flex-order: 4;
    -webkit-box-ordinal-group: 5;
            order: 4;
  }
  .order-desksm-5 {
    -ms-flex-order: 5;
    -webkit-box-ordinal-group: 6;
            order: 5;
  }
  .order-desksm-6 {
    -ms-flex-order: 6;
    -webkit-box-ordinal-group: 7;
            order: 6;
  }
  .order-desksm-7 {
    -ms-flex-order: 7;
    -webkit-box-ordinal-group: 8;
            order: 7;
  }
  .order-desksm-8 {
    -ms-flex-order: 8;
    -webkit-box-ordinal-group: 9;
            order: 8;
  }
  .order-desksm-9 {
    -ms-flex-order: 9;
    -webkit-box-ordinal-group: 10;
            order: 9;
  }
  .order-desksm-10 {
    -ms-flex-order: 10;
    -webkit-box-ordinal-group: 11;
            order: 10;
  }
  .order-desksm-11 {
    -ms-flex-order: 11;
    -webkit-box-ordinal-group: 12;
            order: 11;
  }
  .order-desksm-12 {
    -ms-flex-order: 12;
    -webkit-box-ordinal-group: 13;
            order: 12;
  }
  .offset-desksm-0 {
    margin-left: 0%;
  }
  .offset-desksm-1 {
    margin-left: 8.33333%;
  }
  .offset-desksm-2 {
    margin-left: 16.66667%;
  }
  .offset-desksm-3 {
    margin-left: 25%;
  }
  .offset-desksm-4 {
    margin-left: 33.33333%;
  }
  .offset-desksm-5 {
    margin-left: 41.66667%;
  }
  .offset-desksm-6 {
    margin-left: 50%;
  }
  .offset-desksm-7 {
    margin-left: 58.33333%;
  }
  .offset-desksm-8 {
    margin-left: 66.66667%;
  }
  .offset-desksm-9 {
    margin-left: 75%;
  }
  .offset-desksm-10 {
    margin-left: 83.33333%;
  }
  .offset-desksm-11 {
    margin-left: 91.66667%;
  }
}

@media (min-width: 80em) {
  .col-deskxl {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
            flex-grow: 1;
    max-width: 100%;
  }
  .col-deskxl-auto {
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .col-deskxl-1 {
    -ms-flex: 0 0 8.33333%;
    -webkit-box-flex: 0;
            flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-deskxl-2 {
    -ms-flex: 0 0 16.66667%;
    -webkit-box-flex: 0;
            flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-deskxl-3 {
    -ms-flex: 0 0 25%;
    -webkit-box-flex: 0;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-deskxl-4 {
    -ms-flex: 0 0 33.33333%;
    -webkit-box-flex: 0;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-deskxl-5 {
    -ms-flex: 0 0 41.66667%;
    -webkit-box-flex: 0;
            flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-deskxl-6 {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-deskxl-7 {
    -ms-flex: 0 0 58.33333%;
    -webkit-box-flex: 0;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-deskxl-8 {
    -ms-flex: 0 0 66.66667%;
    -webkit-box-flex: 0;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-deskxl-9 {
    -ms-flex: 0 0 75%;
    -webkit-box-flex: 0;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-deskxl-10 {
    -ms-flex: 0 0 83.33333%;
    -webkit-box-flex: 0;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-deskxl-11 {
    -ms-flex: 0 0 91.66667%;
    -webkit-box-flex: 0;
            flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-deskxl-12 {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .order-deskxl-first {
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
            order: -1;
  }
  .order-deskxl-last {
    -ms-flex-order: 13;
    -webkit-box-ordinal-group: 14;
            order: 13;
  }
  .order-deskxl-0 {
    -ms-flex-order: 0;
    -webkit-box-ordinal-group: 1;
            order: 0;
  }
  .order-deskxl-1 {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
            order: 1;
  }
  .order-deskxl-2 {
    -ms-flex-order: 2;
    -webkit-box-ordinal-group: 3;
            order: 2;
  }
  .order-deskxl-3 {
    -ms-flex-order: 3;
    -webkit-box-ordinal-group: 4;
            order: 3;
  }
  .order-deskxl-4 {
    -ms-flex-order: 4;
    -webkit-box-ordinal-group: 5;
            order: 4;
  }
  .order-deskxl-5 {
    -ms-flex-order: 5;
    -webkit-box-ordinal-group: 6;
            order: 5;
  }
  .order-deskxl-6 {
    -ms-flex-order: 6;
    -webkit-box-ordinal-group: 7;
            order: 6;
  }
  .order-deskxl-7 {
    -ms-flex-order: 7;
    -webkit-box-ordinal-group: 8;
            order: 7;
  }
  .order-deskxl-8 {
    -ms-flex-order: 8;
    -webkit-box-ordinal-group: 9;
            order: 8;
  }
  .order-deskxl-9 {
    -ms-flex-order: 9;
    -webkit-box-ordinal-group: 10;
            order: 9;
  }
  .order-deskxl-10 {
    -ms-flex-order: 10;
    -webkit-box-ordinal-group: 11;
            order: 10;
  }
  .order-deskxl-11 {
    -ms-flex-order: 11;
    -webkit-box-ordinal-group: 12;
            order: 11;
  }
  .order-deskxl-12 {
    -ms-flex-order: 12;
    -webkit-box-ordinal-group: 13;
            order: 12;
  }
  .offset-deskxl-0 {
    margin-left: 0%;
  }
  .offset-deskxl-1 {
    margin-left: 8.33333%;
  }
  .offset-deskxl-2 {
    margin-left: 16.66667%;
  }
  .offset-deskxl-3 {
    margin-left: 25%;
  }
  .offset-deskxl-4 {
    margin-left: 33.33333%;
  }
  .offset-deskxl-5 {
    margin-left: 41.66667%;
  }
  .offset-deskxl-6 {
    margin-left: 50%;
  }
  .offset-deskxl-7 {
    margin-left: 58.33333%;
  }
  .offset-deskxl-8 {
    margin-left: 66.66667%;
  }
  .offset-deskxl-9 {
    margin-left: 75%;
  }
  .offset-deskxl-10 {
    margin-left: 83.33333%;
  }
  .offset-deskxl-11 {
    margin-left: 91.66667%;
  }
}

[class^="row-gap"], [class*=" row-gap"] {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 0.625em;
  grid-row-gap: 0.625em;
}

@media (min-width: 22em) {
  [class^="row-gap"], [class*=" row-gap"] {
    grid-column-gap: 1.25em;
    grid-row-gap: 1.25em;
  }
}

@media (min-width: 48em) {
  [class^="row-gap"], [class*=" row-gap"] {
    grid-column-gap: 1.875em;
    grid-row-gap: 1.875em;
  }
}

@media (min-width: 64em) {
  [class^="row-gap"], [class*=" row-gap"] {
    grid-column-gap: 2.5em;
    grid-row-gap: 2.5em;
  }
}

.row-gap-4 {
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

.row-gap-3 {
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.row-gap-2 {
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 650px) {
  .row-gap-2 {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (min-width: 48em) {
  .row-gap-tablet-4 {
    -ms-grid-columns: 1fr 1fr 1fr  1fr;
        grid-template-columns: 1fr 1fr 1fr  1fr;
  }
  .row-gap-tablet-3 {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .row-gap-tablet-2 {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 64em) {
  .row-gap-desksm-4 {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .row-gap-desksm-3 {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .row-gap-desksm-2 {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 80em) {
  .row-gap-deskxl-4 {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .row-gap-deskxl-3 {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .row-gap-deskxl-2 {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

[class^="lay"],
[class*=" lay"] {
  width: 100%;
  padding-right: 0.625em;
  padding-left: 0.625em;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 22em) {
  [class^="lay"],
  [class*=" lay"] {
    padding-right: 1.25em;
    padding-left: 1.25em;
  }
}

@media (min-width: 48em) {
  [class^="lay"],
  [class*=" lay"] {
    padding-right: 1.875em;
    padding-left: 1.875em;
  }
}

@media (min-width: 64em) {
  [class^="lay"],
  [class*=" lay"] {
    max-width: 1340px;
    padding-right: 2.5em;
    padding-left: 2.5em;
  }
}

.container-full-width {
  padding-left: 0;
  padding-right: 0;
}

/********** MODULES **********/
.mod-header {
  border-bottom: 1px solid #FFF;
  width: 100%;
  z-index: 10;
  position: relative;
}

.mod-header .lay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
  padding: 1.25em;
}

@media screen and (max-width: 650px) {
  .mod-header {
    background-color: #FFF;
  }
}

@media screen and (min-width: 651px) and (max-width: 1023px) {
  .mod-header .lay {
    padding: 0.625em;
  }
}

.mod-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.mod-menu a {
  text-transform: uppercase;
  padding: 0 0.625em;
  font-weight: normal;
  color: #FFF;
}

@media screen and (max-width: 650px) {
  .mod-menu {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    width: 100%;
    background: white;
    left: 0;
    text-align: center;
    top: 66px;
    padding: 0.625em 0.3125em;
  }
  .mod-menu.open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mod-menu a {
    color: #707070;
    padding: 0.625em 0;
  }
}

@media screen and (min-width: 651px) and (max-width: 1023px) {
  .mod-menu a {
    font-size: 0.875rem;
    padding: 0 0.4375em;
  }
}

/** VARIABLES
===================================*/
/** RESET AND LAYOUT
===================================*/
.bx-wrapper {
  position: relative;
  margin-bottom: 60px;
  padding: 0;
  *zoom: 1;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  margin-top: -100px;
}

.bx-wrapper img {
  max-width: 100%;
  display: block;
}

.bxslider {
  padding: 0;
  width: 100%;
}

ul.bxslider {
  list-style: none;
}

.bx-viewport {
  /*fix other elements on the page moving (on Chrome)*/
  -webkit-transform: translatez(0);
}

/** THEME
===================================*/
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: -30px;
  width: 100%;
}

/* LOADER */
.bx-wrapper .bx-loading {
  min-height: 50px;
  background: url("http://estudioequis.com.ar/wspa/img/slides/bx_loader.gif") center center no-repeat #ffffff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
}

/* PAGER */
.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 20px;
}

.bx-wrapper .bx-pager.bx-default-pager a {
  background: #666;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  border-radius: 5px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus {
  background: #000;
}

.bx-wrapper .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  vertical-align: bottom;
  *zoom: 1;
  *display: inline;
}

.bx-wrapper .bx-pager-item {
  font-size: 0;
  line-height: 0;
}

/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-prev {
  left: 10px;
  background: url("http://estudioequis.com.ar/wspa/img/slides/controls.png") no-repeat 0 -32px;
}

.bx-wrapper .bx-prev:hover,
.bx-wrapper .bx-prev:focus {
  background-position: 0 0;
}

.bx-wrapper .bx-next {
  right: 10px;
  background: url("http://estudioequis.com.ar/wspa/img/slides/controls.png") no-repeat -43px -32px;
}

.bx-wrapper .bx-next:hover,
.bx-wrapper .bx-next:focus {
  background-position: -43px 0;
}

.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  z-index: 9999;
}

.bx-wrapper .bx-controls-direction a.disabled {
  display: none;
}

/* AUTO CONTROLS (START / STOP) */
.bx-wrapper .bx-controls-auto {
  text-align: center;
}

.bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url("http://estudioequis.com.ar/wspa/img/slides/controls.png") -86px -11px no-repeat;
  margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active,
.bx-wrapper .bx-controls-auto .bx-start:focus {
  background-position: -86px 0;
}

.bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url("http://estudioequis.com.ar/wspa/img/slides/controls.png") -86px -44px no-repeat;
  margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active,
.bx-wrapper .bx-controls-auto .bx-stop:focus {
  background-position: -86px -33px;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px;
}

/* IMAGE CAPTIONS */
.--text {
  position: absolute;
  top: calc(100% - 65%);
  left: calc(100% - 70%);
  width: 40%;
  padding: 2.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid;
  color: #FFF;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.--text h2 {
  font-family: "Playfair Display", serif;
  color: #FFF;
  font-size: 3.125rem;
  line-height: 3.5625rem;
  font-weight: bold;
  margin-bottom: 0.625em;
}

.--text p {
  color: #FFF;
  font-size: 1rem;
  line-height: 1.4375rem;
  margin-bottom: 1.5625em;
}

@media screen and (min-width: 1024px) and (max-width: 1366px) {
  .--text {
    top: calc(100% - 65%);
    left: calc(100% - 80%);
    width: 60%;
    padding: 1.875em 1.25em;
  }
}

@media screen and (max-width: 650px) {
  .bx-wrapper {
    margin-top: 0;
  }
  .--text {
    display: none;
  }
}

@media screen and (min-width: 651px) and (max-width: 1023px) {
  .bx-wrapper {
    margin-top: -50px;
  }
  .--text {
    top: calc(100% - 73%);
    left: calc(100% - 88%);
    width: 80%;
    padding: 0.625em;
  }
  .--text h2 {
    margin-bottom: 0.3125em;
  }
}

.mod-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3.125em 0;
}

@media screen and (max-width: 1023px) {
  .mod-intro {
    padding: 0;
  }
}

.mod-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3.125em 0;
}

@media screen and (max-width: 1023px) {
  .mod-services {
    padding: 0;
  }
}

.mod-slider-promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 3.125em 0;
}

@media screen and (max-width: 1023px) {
  .mod-slider-promo {
    padding-bottom: 0;
  }
}

.mod-call-to-action {
  padding: 2.5em 0;
  background-position: center center;
  background-size: 100%;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mod-call-to-action.--gift {
  background-image: url("http://estudioequis.com.ar/wspa/img/call-to-action/gift.jpg");
}

.mod-call-to-action.--appointment {
  background-image: url("http://estudioequis.com.ar/wspa/img/call-to-action/appointment.jpg");
}

@media screen and (max-width: 650px) {
  .mod-call-to-action {
    background-size: 420%;
  }
  .mod-call-to-action.--gift {
    background-position: center right;
  }
}

@media screen and (min-width: 651px) and (max-width: 1023px) {
  .mod-call-to-action {
    background-size: 420%;
  }
  .mod-call-to-action.--gift {
    background-position: 64% 40%;
    background-size: 210%;
  }
  .mod-call-to-action.--appointment {
    background-size: 150%;
    background-position: center right;
  }
}

.mod-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mod-social [class^="icon-"], .mod-social [class*=" icon-"] {
  margin: 0 0.3125em;
  font-size: 2.1875rem;
  color: #CBC9BE;
}

.mod-social [class^="icon-"]:hover, .mod-social [class*=" icon-"]:hover {
  opacity: 0.8;
}

.mod-footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0.9375em;
  font-size: 0.8125rem;
}

.mod-footer div.--right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: center;
}

@media screen and (max-width: 650px) {
  .mod-footer .lay {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .mod-footer p {
    line-height: 1.4375rem;
  }
  .mod-footer div.--right {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.mod-treatment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  /* Tratamiento Simple */
  /* Tratamiento Vertical */
}

.mod-treatment .--description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  padding: 0.625em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mod-treatment .--description .icon-check {
  font-size: 0.875rem;
}

.mod-slider-promo .mod-treatment {
  margin-top: 3.125em;
}

.mod-treatment.--simple {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2.5em 0;
  padding: 1.875em;
}

.mod-treatment.--simple.hlp-bg-secondary {
  background-color: #D5D4D0;
}

.mod-treatment.--simple.hlp-bg-secondary .header h2,
.mod-treatment.--simple.hlp-bg-secondary .header h5 {
  background-color: #D5D4D0;
}

.mod-treatment.--simple.hlp-bg-third .header h2,
.mod-treatment.--simple.hlp-bg-third .header h5 {
  background-color: #EFEDE1;
}

.mod-treatment.--simple .header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mod-treatment.--simple .header h2 {
  font-family: "Playfair Display", serif;
  font-size: 1.875em;
  line-height: 2.3125rem;
  font-weight: bold;
  background-color: #FFF;
  z-index: 9;
}

.mod-treatment.--simple .header h5 {
  background-color: #EFEDE1;
  z-index: 9;
  padding: 0 0.3125em;
}

.mod-treatment.--simple .header:after {
  border-bottom: 2px dotted;
  content: "";
  width: 100%;
  position: absolute;
  bottom: 11px;
}

.mod-treatment.--simple .body {
  margin-top: 1.25em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.mod-treatment.--simple .body p {
  max-width: 80%;
  padding-right: 1.5625em;
  font-size: 0.875em;
  line-height: 1.3125rem;
}

.mod-treatment.--simple.--no-price {
  margin: 1.25em 0;
  padding: 0.625em;
}

.mod-treatment.--simple.--no-price .header:after {
  border-bottom: 2px dotted;
  content: "";
  width: 100%;
  position: absolute;
  bottom: 3px;
}

.mod-treatment.--simple.--no-price .body p {
  max-width: 100%;
}

.mod-treatment.--vertical {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mod-treatment.--vertical .--description {
  padding: 0.9375em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 650px) {
  .mod-treatment {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mod-treatment .--description {
    padding: 1.25em;
  }
  .mod-treatment.--simple {
    padding: 1.25em;
  }
  .mod-treatment.--simple .header,
  .mod-treatment.--simple .body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .mod-treatment.--simple .header h2 {
    margin-bottom: 0.4375em;
    font-size: 1.6875rem;
  }
  .mod-treatment.--simple .header:after {
    bottom: -4px;
  }
  .mod-treatment.--simple .body p {
    max-width: 100%;
    padding-right: 0;
    margin: 0.625em 0 1.875em 0;
  }
}

@media screen and (min-width: 651px) and (max-width: 1023px) {
  .mod-treatment.--simple .header h2 {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 650px) {
  .row.mod-img-grid {
    margin-top: 0;
  }
}

.mod-page-title {
  margin-top: -80px;
  height: 450px;
  background-size: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-repeat: no-repeat;
}

.mod-page-title.--tratamientos {
  background-image: url(http://estudioequis.com.ar/wspa/img/bg-tratamientos-2.jpg);
}

.mod-page-title.--circuitos {
  background-image: url(http://estudioequis.com.ar/wspa/img/bg-circuitos.jpg);
  background-position: center bottom;
}

.mod-page-title.--contacto {
  background-image: url(http://estudioequis.com.ar/wspa/img/bg-membresias.jpg);
  background-position: center bottom;
}

.mod-page-title.--yoga {
  background-image: url(http://estudioequis.com.ar/wspa/img/bg-yoga.jpg);
}

.mod-page-title.--membresias {
  background-image: url(http://estudioequis.com.ar/wspa/img/bg-membresias.jpg);
  background-position: center bottom;
}

.mod-page-title h1 {
  padding-top: 1.25em;
  color: #FFF;
  font-size: 3.125rem;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  text-transform: uppercase;
}

@media screen and (max-width: 650px) {
  .mod-page-title {
    height: 250px;
  }
  .mod-page-title.--contacto, .mod-page-title.--tratamientos, .mod-page-title.--membresias, .mod-page-title.--yoga, .mod-page-title.--circuitos {
    margin-top: 0;
    background-repeat: no-repeat;
    background-size: 190%;
  }
  .mod-page-title.--tratamientos {
    background-position: center left;
  }
  .mod-page-title h1 {
    font-size: 2.5rem;
    padding: 0 20px;
    text-align: center;
  }
}

@media screen and (min-width: 651px) and (max-width: 1023px) {
  .mod-page-title {
    height: 300px;
  }
  .mod-page-title h1 {
    font-size: 2.5rem;
  }
  .mod-page-title.--tratamientos {
    background-size: 110%;
  }
}

.mod-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mod-list:first-of-type {
  padding: 3.125em 0 0.625em 0;
}

@media screen and (max-width: 1023px) {
  .mod-list:first-of-type {
    padding: 0.625em 0 0.625em 0;
  }
}

.mod-grid .lay .col-6 {
  max-width: 48%;
}

.mod-grid .lay .col-6:first-of-type {
  margin-right: 0.9375em;
}

.mod-circuits {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mod-circuits div {
  padding: 1.875em 1.25em;
}

.mod-form .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mod-yoga {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3.125em 0 0 0;
}

/********** COMPONENTS **********/
.com-logo {
  font-size: 1.5625rem;
}

.com-logo .icon-logo:before {
  color: #FFF;
}

@media screen and (max-width: 650px) {
  .com-logo .icon-logo:before {
    color: #707070;
  }
}

#menu-mobile {
  display: none;
}

@media screen and (max-width: 650px) {
  #menu-mobile {
    display: inline-block;
    font-size: 35px;
    right: 20px;
    position: absolute;
    top: 16px;
    z-index: 99;
    color: #000;
  }
}

.com-link {
  font-weight: bold;
}

.mod-circuits .com-link {
  padding-top: 10px;
  display: block;
}

.com-whatsapp {
  border: 1px solid #FFF;
  padding: 0.5em 0.9375em;
  color: #707070;
  background-color: #FFF;
}

.com-whatsapp .icon-w-outline {
  color: #707070;
  padding-right: 0.3125em;
}

.com-whatsapp:hover {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, white), color-stop(50%, transparent));
  background: linear-gradient(to right, white 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
  color: #FFF;
}

.com-whatsapp:hover .icon-w-outline {
  color: #FFF;
}

@media screen and (max-width: 1023px) {
  .com-whatsapp {
    display: none;
  }
}

.com-button {
  padding: 0.625em 1.5625em;
  background-color: #4D4D4D;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
  color: #FFF;
  /*Especificacion para Boton de Formulario */
  /*Especificacion para Modulo call to action */
  /*Especificacion para texto de Slider */
  /*Especificacion para Modulo call to action */
  /*Especificacion para Tratamientos Simples */
  /*Especificacion para modulos de Tratamientos Verticales*/
}

.com-button:hover {
  opacity: 0.8;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
  background-color: #CBC9BE;
  color: #707070;
}

.com-button input {
  background-color: transparent;
  text-transform: uppercase;
  color: #707070;
  cursor: pointer;
}

.mod-circuits .com-button {
  display: inline-block;
  margin-top: 0.3125em;
}

.--text .com-button {
  background-color: #FFF;
  border: 2px solid #FFF;
  color: #4D4D4D;
  width: 30%;
}

.--text .com-button:hover {
  background-color: transparent;
  color: #FFF;
}

.mod-call-to-action .com-button {
  display: inline-block;
  margin-top: 0.625em;
}

.com-actions .com-button {
  margin-bottom: 0.625em;
  background-color: #727272;
  color: #FFF;
  font-size: 0.875rem;
  width: 170px;
  text-align: center;
}

.--vertical .com-button {
  margin: 0.9375em 0 0 0;
}

@media screen and (max-width: 650px) {
  .com-actions .com-button {
    width: 100%;
  }
  .mod-call-to-action .com-button {
    width: 100%;
    text-align: center;
  }
}

.com-title {
  text-align: center;
  margin: 1.25em 0;
  /*Especificacion para modulos de Tratamientos Verticales*/
  /*Especificacion para modulos de Tratamientos Horizontales */
  /*Especificacion para modulos de Call To Action*/
  /*Especificacion para modulos de Servicios*/
  /*Especificacion para modulos de Servicios*/
  /*PAGE TITLE*/
  /*Especificacion para modulos de Call To Action*/
  /*Especificacion para modulos de Tratamientos Horizontales */
  /*Especificacion para modulos de Circuitos de Agua*/
  /*Especificacion para modulos de Contacto*/
  /*TREATMENT TITLE*/
  /*PRE TITLE*/
  /*PRE TITLE*/
  /*PARAGRAPH*/
}

.--vertical .com-title {
  padding-bottom: 0.9375em;
}

.mod-treatment .com-title {
  margin: 0;
  font-size: 1.75em;
  line-height: 2.1875rem;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

.mod-call-to-action.--left .com-title {
  text-align: left;
}

.mod-call-to-action.--right .com-title {
  text-align: right;
}

.mod-services .com-title {
  margin-bottom: 80px;
}

.mod-circuits .com-title {
  position: relative;
}

.com-title .page-title {
  font-size: 2.5rem;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

.mod-call-to-action .com-title .page-title {
  padding: 0.3125em 0;
  line-height: 2.9375rem;
}

.mod-policies .com-title .page-title {
  text-align: left;
  font-size: 1.875rem;
}

.mod-circuits .com-title .page-title {
  padding-bottom: 0.625em;
  line-height: 2.3125rem;
  text-align: left;
}

.mod-contact .com-title .page-title {
  margin-bottom: 1.25em;
}

.com-title .treatment-title {
  font-size: 2.5rem;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

.com-title .pre-title {
  letter-spacing: 3px;
  margin-bottom: 0.625em;
  font-size: 0.9375rem;
  line-height: 1.375rem;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  /*Especificacion para modulos de Tratamientos*/
  /*Especificacion para modulos de Tratamientos*/
}

.mod-treatment .com-title .pre-title {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 0.3125em;
}

.mod-circuits .com-title .pre-title {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 0.3125em;
  text-align: left;
}

.com-title .sub-title {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 1.125rem;
  padding-bottom: 0.625em;
  line-height: 1.5625rem;
  text-transform: uppercase;
}

.com-title .sub-title strong {
  font-weight: bold;
  font-family: "Playfair Display", serif;
}

.com-title P {
  font-size: 0.875rem;
  line-height: 1.5rem;
  text-align: left;
  padding: 1.25em 0;
}

.mod-yoga .com-title p {
  text-align: center;
}

.mod-intro .com-title {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mod-intro .com-title p {
  text-align: center;
  max-width: 75%;
  margin: 0.9375em auto 0 auto;
}

/* Mobile */
@media screen and (max-width: 650px) {
  .com-title {
    /*Especificacion para modulos de Tratamientos Verticales*/
    /* Page Title */
  }
  .--vertical .com-title {
    padding-bottom: 0;
  }
  .mod-services .com-title {
    margin-bottom: 0;
  }
  .mod-call-to-action .com-title .page-title,
  .mod-call-to-action .com-title .pre-title {
    text-align: center;
  }
  .mod-circuits .com-title .page-title,
  .mod-circuits .com-title .pre-title {
    text-align: center;
  }
  .mod-intro .com-title p {
    max-width: 100%;
  }
  .com-title .page-title {
    font-size: 2.1875rem;
    line-height: 2.625rem;
  }
  .mod-policies .com-title .page-title {
    font-size: 2.1875rem;
    line-height: 2.625rem;
    text-align: center;
  }
  .com-title .treatment-title {
    margin: 0.3125em 0;
    line-height: 2.625rem;
  }
  .mod-policies .com-title p {
    text-align: center;
  }
}

@media screen and (min-width: 651px) and (max-width: 1023px) {
  .com-title {
    /*Especificacion para modulos de Call To Action*/
  }
  .mod-call-to-action .com-title .page-title {
    font-size: 1.875rem;
    line-height: 2.3125rem;
  }
  .mod-treatment .com-title .treatment-title {
    font-size: 1.875rem;
    margin: 0.3125em 0;
  }
  .mod-treatment .com-title .pre-title {
    font-size: 0.875rem;
  }
}

.com-grid-item {
  position: relative;
}

.com-grid-item:nth-child(1) {
  margin: 0 1.25em 1.25em 0;
}

.com-grid-item:nth-child(2) {
  margin: 0 1.25em 0 0;
}

.com-grid-item:nth-child(3) {
  margin: 0;
}

.com-grid-item:nth-child(4) {
  margin: 0 0 1.25em 1.25em;
}

.com-grid-item:nth-child(5) {
  margin: 0 0 1.25em 1.25em;
}

.com-grid-item .--description {
  display: none;
}

.com-grid-item:hover .--description {
  cursor: pointer;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  color: #A3A9B2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.com-grid-item:hover .--description h3 {
  color: #FFF;
  text-align: center;
  padding-bottom: 0.9375em;
  letter-spacing: 3px;
}

@media screen and (max-width: 650px) {
  .com-grid-item {
    margin: 0.625em 0 !important;
  }
}

.com-icon-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-animation-name: fadeInLeft;
          animation-name: fadeInLeft;
}

.com-icon-text h4 {
  font-family: "Playfair Display", serif;
  font-size: 1.375em;
  font-weight: bold;
  margin-bottom: 0.625em;
}

.com-icon-text p {
  color: #A3A9B2;
  font-size: 0.875em;
  line-height: 1.3125rem;
}

.com-icon-text [class^="icon-"],
.com-icon-text [class*=" icon-"] {
  font-size: 2.1875rem;
  padding-right: 0.4375em;
  color: #A3A9B2;
}

.com-image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.com-list .first-level {
  font-family: "Playfair Display", serif;
  font-size: 1.125rem;
  line-height: 2rem;
  text-transform: none;
  font-weight: bold;
}

.com-list .sub-level {
  font-size: 0.875rem;
  line-height: 1.4375rem;
}

.--vertical .com-list {
  padding-bottom: 1.5625em;
  min-height: 280px;
}

@media screen and (max-width: 650px) {
  .com-list {
    margin: 0.625em 0;
  }
  .com-list .first-level {
    line-height: 1.5625rem;
    margin: 0.3125em 0;
  }
}

@media screen and (min-width: 651px) and (max-width: 1023px) {
  .com-list {
    margin: 0.625em 0;
  }
  .com-list .first-level {
    font-size: 1rem;
    line-height: 1.5625rem;
  }
  .com-list .sub-level {
    font-size: 0.8125rem;
    line-height: 1.375rem;
  }
}

.com-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /*Especificacion para modulos de un solo Precio */
  /*Especificacion para modulos de un solo Precio */
  /*Especificacion para modulos de Tratamientos Verticales*/
}

.com-price:last-of-type {
  margin-bottom: 0.625em;
}

.com-price:last-of-type:after {
  display: none;
}

.com-price h5 {
  font-family: "Playfair Display", serif;
  font-size: 1.875rem;
  line-height: 2.3125rem;
  font-weight: bold;
}

.com-price h6 {
  padding-bottom: 0.3125em;
}

.com-price span {
  font-family: "Playfair Display", serif;
  font-size: 0.875rem;
}

.one-price .com-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.one-price .com-price h5 {
  display: block;
  margin-bottom: 10px;
}

.multiple-price .com-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.multiple-price .com-price:after {
  content: " ";
  border-bottom: 1px solid #CBC9BE;
  margin: 1.25em 0;
  width: 10%;
}

.--vertical .com-price {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.com-price.--double {
  width: 100%;
}

@media screen and (max-width: 650px) {
  .one-price .com-price {
    width: 100%;
  }
}

@media screen and (max-width: 650px) {
  .com-map {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.com-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.875em 3.125em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.com-info strong,
.com-info a,
.com-info span {
  font-family: "Playfair Display", serif !important;
  display: block;
  font-size: 1.125rem;
  line-height: 1.6875rem;
}

.com-info a:hover {
  font-weight: 500;
}

.com-info strong {
  font-weight: bold;
}

@media screen and (max-width: 650px) {
  .com-info {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .com-info p {
    padding-bottom: 0.9375em;
  }
}

.com-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media screen and (max-width: 650px) {
  .com-actions {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.com-text {
  margin-right: 2.5em;
}

.com-text a {
  font-weight: 600;
}

@media screen and (max-width: 650px) {
  .com-text {
    margin-right: 0;
    text-align: center;
  }
}

.com-input {
  width: 80%;
  margin: 0.625em 0;
}

.com-input input {
  background-color: #EFEDE1;
  width: 100%;
  height: 1.875em;
  padding: 1.5625em;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9375rem;
  color: #4D4D4D;
}

.com-input textarea {
  background-color: #EFEDE1;
  width: 100%;
  height: 180px;
  padding: 1.5625em;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9375rem;
  color: #4D4D4D;
  text-align: left;
}

.com-floating-button {
  position: fixed;
  bottom: 0.625em;
  left: 0.625em;
  z-index: 10;
  display: block;
}

.com-floating-button img {
  max-width: 300px;
}
/*# sourceMappingURL=site.css.map */