/* FONT-FACE */
@mixin font-face($name, $file, $weight) {
  @font-face {
    font-family: "#{$name}";
    src: url("../../fonts/#{$file}.eot");
    src: url("../../fonts/#{$file}.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/#{$file}.woff") format("woff"),
    url("../../fonts/#{$file}.ttf") format("truetype"),
    url("../../fonts/#{$file}.svg?#webfont") format("svg");
    font-weight: $weight;
    font-style: normal;
  }
}
 
 /* COLUMNAS */
@mixin columns($name, $start, $end) {
  @for $i from $start through $end {
   .col-#{$name}#{$i} {
      -ms-flex: 0 0 $col-width * $i * 1%;
      flex: 0 0 $col-width * $i * 1%;
      max-width: $col-width * $i * 1%;
    }
  }
}

/* ORDERS */
@mixin orders($name, $start, $end) {
  @for $i from $start through $end {
    .order-#{$name}#{$i} {
      -ms-flex-order: $i;
      order: $i;
    }
  }
}

/* OFFSETS */
@mixin offsets($name, $start, $end) {
  @for $i from $start through $end {
    .offset-#{$name}#{$i} {
      margin-left: $col-width * $i * 1%;
    }
  }
}


@mixin boxshadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
