.mod-call-to-action {
    padding:$px-40 0;
    background-position: center center;
    background-size:100%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;

    &.--gift {
        background-image: url('http://estudioequis.com.ar/wspa/img/call-to-action/gift.jpg');
    }

    &.--appointment {
        background-image: url('http://estudioequis.com.ar/wspa/img/call-to-action/appointment.jpg');
    }
}

@media screen and (max-width:650px) {
    .mod-call-to-action {
        background-size: 420%;

        &.--gift {
            background-position: center right;
        }
    }
}

