.mod-services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:$px-50 0;
}

@media screen and (max-width:650px) {
    .mod-services  {
        padding:0;
    }
}