.mod-slider-promo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:0 0 $px-50 0;
}

@media screen and (max-width:650px) {
    .mod-slider-promo {
        padding-bottom:0;
    }
}