.mod-footer {
    div {
        display: flex;
        flex-direction: row;
        padding: $px-15;
        font-size: $font-13;
        
        &.--right {
            justify-content: flex-end;
            text-align: center;
        }
    
    }
}