.mod-treatment {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    .--description {
        justify-content: center;
        text-align: center;
        padding:$px-10;
        align-items: center
    }

    /* Tratamiento Simple */
    &.--simple {
        display: flex;
        flex-direction: column;
        margin: $px-40 0;
        padding: $px-30;

        &.hlp-bg-secondary {
            background-color:#D5D4D0;
            .header {
                h2, h5 {
                    background-color:#D5D4D0;
                }
            }
        }

        &.hlp-bg-third {
            .header {
                h2, h5 {
                    background-color:$third;
                }
            }
        }

        .header {
            position:relative;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            h2 {
                font-family: $font-titles;
                font-size: $px-30;
                font-weight: bold;
                background-color:$white;
                z-index: 10;
            }

            h5 {
                background-color:$third;
                z-index: 10;
                padding:0 $px-5;
            }

            &:after {
                border-bottom:2px dotted;
                content:"";
                width:100%;
                position: absolute;
                bottom:11px;
            }
        }

        .body {
            margin-top:$px-20;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;

            p {
                max-width: 80%;
                padding-right: $px-25;
                font-size: $px-14;
                line-height: $line-14;
            }
        }

        &.--no-price {
            margin: $px-20 0;
            padding: $px-10;
            .header {
                &:after {
                    border-bottom:2px dotted;
                    content:"";
                    width:100%;
                    position: absolute;
                    bottom:3px;
                }
            }

            .body {
                p {
                    max-width: 100%;
                }
            }
        }
    }

     /* Tratamiento Vertical */
    &.--vertical {
        width: 100%;
        display:flex;
        flex-direction: column;
        .--description {
            padding:$px-15;
        }
    }
}