.mod-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:first-of-type {
        padding:$px-50  0 $px-10 0; 
    }

    .content {
        position: relative;
        min-height: 130px;
    }
}


@media screen and (max-width:1023px) {
    .mod-list {
        &:first-of-type {
            padding:$px-10  0 $px-10 0; 
        }
    }
}
