.mod-menu {
    display:flex;
    flex-direction: row;

    a {
        text-transform: uppercase;
        padding: 0 $px-10;
        font-weight: normal;
        color:$white;
    }
    
}

@media screen and (max-width:650px) {
    .mod-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        width: 100%;
        background: white;
        left: 0;
        text-align: center;
        top:66px;
        padding: $px-10 $px-5;
        a {
            color:$text;
            padding:$px-10 0;
        }
        
    }
}