.mod-grid {
    .lay {
        .col-6 {
            max-width: 48%;

            &:first-of-type {
                margin-right: $px-15;
            }
        }
    }
 
    .content {
        position: relative;
        min-height: 130px;
    }
}