.mod-page-title {
    margin-top:-80px;
    height:450px;
    background-image: url(../../img/bg-tratamientos.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        padding-top:$px-20;
        color:$white;
        font-size: $font-50;
        font-family: $font-titles;
        font-weight: bold;
        text-transform: uppercase;
    }

}