.mod-treatment {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;


    .--description {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        padding: $px-10;
        align-items: center;


        .icon-check {
            font-size: $font-14;
        }
    }

    .mod-slider-promo & {
        margin-top: $px-50;
    }

    /* Tratamiento Simple */
    &.--simple {
        display: flex;
        flex-direction: column;
        margin: $px-40 0;
        padding: $px-30;

        &.hlp-bg-secondary {
            background-color: #D5D4D0;

            .header {

                h2,
                h5 {
                    background-color: #D5D4D0;
                }
            }
        }

        &.hlp-bg-third {
            .header {

                h2,
                h5 {
                    background-color: $third;
                }
            }
        }

        .header {
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            h2 {
                font-family: $font-titles;
                font-size: $px-30;
                line-height: $line-30;
                font-weight: bold;
                background-color: $white;
                z-index: 9;
            }

            h5 {
                background-color: $third;
                z-index: 9;
                padding: 0 $px-5;
            }

            &:after {
                border-bottom: 2px dotted;
                content: "";
                width: 100%;
                position: absolute;
                bottom: 11px;
            }
        }

        .body {
            margin-top: $px-20;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;

            p {
                max-width: 80%;
                padding-right: $px-25;
                font-size: $px-14;
                line-height: $line-14;
            }
        }

        &.--no-price {
            margin: $px-20 0;
            padding: $px-10;

            .header {
                &:after {
                    border-bottom: 2px dotted;
                    content: "";
                    width: 100%;
                    position: absolute;
                    bottom: 3px;
                }
            }

            .body {
                p {
                    max-width: 100%;
                }
            }
        }
    }

    /* Tratamiento Vertical */
    &.--vertical {
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;

        .--description {
            padding: $px-15;
            display: flex;
            flex-direction: column;
        }
    }

    &.one-price {
        .row { position: relative;}
       
    }

}

@media screen and (max-width:650px) {
    .mod-treatment {
        flex-direction: column;

        .--description {
            padding: $px-20;
        }

        &.--simple {
            padding: $px-20;

            .header,
            .body {
                flex-direction: column;
                text-align: center;
            }

            .header {
                h2 {
                    margin-bottom: $px-7;
                    font-size: $font-27;
                }

                &:after {
                    bottom: -4px;
                }
            }

            .body {
                p {
                    max-width: 100%;
                    padding-right: 0;
                    margin: $px-10 0 $px-30 0;
                }
            }
        }
    }
}

@media screen and (min-width:651px) and (max-width:1023px) {
    .mod-treatment {
        &.--simple {
            .header {
                h2 {
                    font-size: $font-20;
                }
            }
        }
    }
}