.com-logo {
    font-size:$font-25;
    .icon-logo {
        &:before {
            color:$white;
        }
    }
}

@media screen and (max-width:650px) {
    .com-logo {
        .icon-logo {
            &:before {
                color:$text;
            }
        }
    }
}