.com-list {
    .first-level {
        font-family: $font-titles;
        font-size:$font-18;
        line-height: $line-25;
        text-transform: none;
        font-weight: bold; 
    }

    .sub-level {
        font-size:$font-14;
        line-height: $line-16;
    }

    .--vertical & {
        padding-bottom:$px-25;
        min-height: 280px;
    }
}

@media screen and (max-width:650px) {
    .com-list {
        margin:$px-10 0;

        .first-level {
            line-height: $line-18;
            margin:$px-5 0
        }
    }
}

@media screen and (min-width:651px) and (max-width:1023px){
    .com-list {
        margin:$px-10 0;

        .first-level {
            font-size: $font-16;
            line-height: $line-18;
        }
        .sub-level {
            font-size:$font-13;
            line-height: $line-15;
        }
    }
}