.com-list {
    .first-level {
        font-family: $font-titles;
        font-size:$font-18;
        line-height: $line-25;
        text-transform: none;
        font-weight: bold; 
    }

    .sub-level {
        font-size:$font-14;
        line-height: $line-16;
    }

    .--vertical & {
        padding-bottom:$px-25;
        min-height: 280px;
    }
}