.com-floating-button {
    position: fixed;
    top: 50%;
    padding: $px-15;
    right: -188px;
    background-color: $third;
    z-index: 10;
    transform: translateX(0px);
    transition-duration: 0.5s;


    &:hover {
        transform: translateX(-188px);
        transition-duration: 0.5s;
    }

    a {
        align-items: center;
        display: flex;
        flex-direction: row;

        .icon-w-solid {
            margin-right: $px-10;
            font-size: $font-25;
        }
    }


}