.com-price {
    display: flex;
    flex-direction: column;

    &:last-of-type {
        margin-bottom:$px-10;
        &:after {
            display: none;
        }
    }

    h5 {
        font-family: $font-titles;
        font-size: $font-30;
        line-height: $line-30;
        font-weight: bold;
    }

    h6 {
        padding-bottom:$px-5;
    }

    span {
        font-family: $font-titles;
        font-size:$font-14;
    }

    /*Especificacion para modulos de un solo Precio */
    .one-price & {
        display: flex;
        flex-direction: row;
        width: 60%;
        justify-content: space-evenly;
        align-items: center;
    }

     /*Especificacion para modulos de un solo Precio */
     .multiple-price & {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width:100%;

        &:after {
            content:" ";
            border-bottom:1px solid $secondary;
            margin:$px-20 0;
            width:10%;
        }
    }

    /*Especificacion para modulos de Tratamientos Verticales*/
    .--vertical & {
        justify-content: center;
        align-items: center;
    }

    &.--double {
        width:100%;
    }
}