.com-badge {
    text-align: center;
    padding: $px-10 $px-10 $px-15 $px-10;
    position: absolute;
    width: 70%;
    font-family: $font-titles;
    font-size: $font-20;
    top:$px-10;

    strong {
        font-family: $font-titles;
        font-weight: bold;
        font-size: $font-28;
    }

    .one-price & {
        bottom:$px-10;
        width:60%;
        top:initial
        
    }
}