.com-whatsapp {
    border: 1px solid $white;
    padding:$px-8 $px-15;
    color:$white;

    .icon-w-outline {
        color:$white;
        padding-right: $px-5;
    }

    &:hover {
        background: linear-gradient(to right, black 50%, white 50%);
        background-size: 200% 100%;
        background-position: right bottom;
        transition: all .5s ease-out;
        color:$primary;

        .icon-w-outline {
            color:$primary;
        }
    }
}