.com-actions {
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

@media screen and (max-width:650px) {
    .com-actions {
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}